.main-display-container {
  height: 53rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-display-left {
  position: relative;
  /* width: 66%; */
  width: 58rem;
  height: 100%;
  /* padding-top: 2.2rem; */
  padding: 2rem;
  overflow: hidden;
}

.main-dispaly-left-subContainer {
  position: absolute;
  left: 0;
  height: 100%;
  width: 225rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
  margin-left: 2rem;
}

.main-display-left .movie-img-container {
  margin-right: 1rem;
}

.main-dispaly-left-subContainer a:nth-of-type(even) {
  margin-right: 2rem;
}

.main-display-right {
  width: 33%;
  height: 100%;
  border-left: 1px solid whitesmoke;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: goldenrod white;
  -webkit-scrollbar-color: goldenrod white;
  scrollbar-width: normal;
}

.main-display-right::-webkit-scrollbar {
  width: 10px;
}

.main-display-right::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 20px;
}

.main-display-right::-webkit-scrollbar-track {
  background-color: white;
}

.main-display-arrow {
  font-size: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.main-display-arrow:hover {
  color: whitesmoke;
}

.trending-title {
  color: whitesmoke;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.trending-display {
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}

.movie-img-container {
  position: relative;
  width: 26rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.movie-img-container img {
  width: 100%;
  cursor: pointer;
}

.movie-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
  position: absolute;
  bottom: -8rem;
  width: 100%;
  height: 50%;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(211, 211, 211, 0.4);
  transition: all 0.2s ease-in-out;
}

.movie-caption-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.movie-caption-small-icons {
  font-size: 2rem;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.play-icon {
  font-size: 3rem;
}

.movie-img-container:hover {
  transform: scale(1.1);
  z-index: 10;
}

.movie-img-container:hover .movie-caption {
  bottom: 0;
  opacity: 1;
}
